
.product-list ul {
    margin: 0;
    padding: 0;
}

.product-card {
    width: 1000px;
    border: 1px solid rgb(210, 218, 255);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background: rgb(227, 233, 255);
}

.image {
    height: 200px;
    width: 200px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
}

.image img {
    max-height: 190px;
    max-width: 190px;
    object-fit: contain;
}

.product__about {
    width: 740px;
    display: flex;
    justify-content: space-between;
}

.product__description {
    width: 600px;
}

.product__description p {
    height: 110px;
    width: 600px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}